.landing-page-main-container {
  position: absolute;
  width: 90%;
  padding-left: 3.75rem;
  padding-right: 3.75rem;

  .banner {
    display: block;
    margin-top: 1.25rem;
    object-fit: cover;
    width: 99%;
    height: 25rem;
    border: 0.3125rem solid #fffae4;
    margin-left: 0.7rem;
    border-radius: 0.3125rem;
  }

  .separator-start {
    margin-left: 1rem;
    border-color: white;
  }

  .separator-end {
    margin-top: -1.5625rem; //to fix in future
    margin-left: 1rem;
    border-color: white;
  }

  .background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.9375rem;
    text-align: center;
    background-image: url("../../assets/wall-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .nav-btn-container {
      padding: 1.25rem;
      display: flex;
      text-align: center;

      .orange-btn {
        margin-top: -1.5625rem; //to fix in future
        width: 7.5rem;
        height: 3.75rem;
      }

      .btn-label {
        margin-top: -0.5rem; //to fix in future
        position: absolute;
        color: white;
        margin-left: 1.9rem;
        font-size: 1.125rem;
        font-family: Orbitron;
      }

      .btn-short-label {
        margin-top: -0.5rem; //to fix in future
        position: absolute;
        color: white;
        margin-left: 1.9rem;
        font-size: 1.125rem;
        font-family: Orbitron;
      }

      .btn-long-label {
        margin-top: -0.5rem; //to fix in future
        position: absolute;
        color: white;
        margin-left: 1.4rem;
        font-size: 1.125rem;
        font-family: Orbitron;
      }
    }
  }

  .accordion-first-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.875rem;
    margin-left: 1.25rem;

    .border-profile {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 15.625rem;
      height: 11.875rem;
      margin-right: 1.875rem;
    }

    .border-profile-closed {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 15.625rem;
      height: 2.1875rem;
      margin-right: 1.875rem;
    }

    .border-about {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 62.5rem;
      height: 11.875rem;
    }

    .border-about-closed {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 62.5rem;
      height: 2.875rem;
    }

    .label-container {
      display: flex;
      flex-direction: row;

      .label {
        color: white;
        margin-top: 0.375rem;
        margin-left: 0.4375rem;
        font-size: 1rem;
      }

      .minimize-icon-profile {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.3125rem;
        margin-left: 5.5rem;
      }

      .close-icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.3125rem;
        margin-left: 0.3125rem;
      }

      .minimize-icon-about {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.3125rem;
        margin-left: 53.125rem;
      }

      .close-icon-about {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.3125rem;
        margin-top: 0.3125rem;
      }
    }
    .label-bg-filler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 0.3125rem;
      background-color: black;
      width: 15.625rem;
      height: 10rem;

      .profile {
        margin-top: 1.125rem;
        width: 6.875rem;
        height: 6.875rem;
      }

      .name-label {
        font-family: "Orbitron";
        font-size: 1rem;
        color: white;
      }

      .role-label {
        font-family: "Orbitron";
        font-size: 0.75rem;
        color: white;
        margin-bottom: 1.25rem;
      }
    }

    .about-label-container {
      margin-top: 0.625rem;
      width: 62.5rem;
      height: 8.125rem;
      background-color: black;
      color: white;

      .about-desc {
        font-size: 1rem;
        color: white;
        padding: 0.625rem;
        text-align: left;
      }
    }

    .about-label-container-invisible {
      display: none;
    }
  }

  .accordion-second-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.875rem;
    margin-left: 1.375rem;

    .border-music-open {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 15.625rem;
      height: 50.5rem;
      margin-right: 1.875rem;

      .label-container {
        display: flex;
        flex-direction: row;
        .label {
          color: white;
          margin-top: 0.375rem;
          margin-left: 0.4375rem;
          font-size: 1rem;
        }

        .minimize-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 6.5625rem;
        }

        .close-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 0.3125rem;
        }
      }

      .music-img-show {
        margin-top: 0.5rem;
        width: 15.625rem;
        height: 13.75rem;
        object-fit: cover;
        object-position: 10% 25%;
      }

      .music-img-none {
        display: none;
      }
    }
    .border-music-closed {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 15.625rem;
      height: 2.1875rem;
      margin-right: 1.875rem;

      .label-container {
        display: flex;
        flex-direction: row;
        .label {
          color: white;
          margin-top: 0.375rem;
          margin-left: 0.4375rem;
          font-size: 1rem;
        }

        .minimize-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 6.5625rem;
        }

        .close-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 0.3125rem;
        }
      }

      .music-img-show {
        margin-top: 0.5rem;
        width: 15.625rem;
        height: 13.75rem;
        object-fit: cover;
        object-position: 10% 25%;
      }

      .music-img-none {
        display: none;
      }
    }

    .portfolio-container {
      display: flex;
      flex-direction: column;

      .border-portfolio-open {
        border: 0.0625rem solid white;
        background-color: #ff9933;
        width: 62.5rem;
        height: 50.4375rem;

        .label-container {
          display: flex;

          .label {
            color: white;
            margin-top: 0.375rem;
            margin-left: 0.4375rem;
            font-size: 1rem;
          }

          .minimize-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 50.73rem;
          }
          .close-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 0.3125rem;
          }
        }

        .portfolio-accordion-filler-open {
          margin-top: 0.625rem;
          width: 62.5rem;
          height: 47.3125rem;
          background-color: black;
          color: white;
          display: flex;
          flex-direction: column;

          .project-image-container {
            margin-bottom: 0.625rem;
            display: flex;
            flex-direction: row;

            .link {
              text-decoration: none;
              color: white;

              .image-show {
                width: 9.375rem;
                height: 9.375rem;
                margin-top: 1.25rem;
                margin-left: 0.9375rem;
                margin-right: 0.3125rem;
              }
              .image-none {
                display: none;
              }

              .image-pastel-dreams-show {
                width: 9.375rem;
                height: 6.8rem;
                margin-top: 1.25rem;
                margin-left: 0.9375rem;
                margin-right: 0.3125rem;
              }
              .image-pastel-dreams-none {
                display: none;
              }
            }
          }

          .project-desc-container {
            padding: 0.625rem;
            text-align: left;

            .desc-title-show {
              color: white;
              font-size: 1.5rem;
              font-family: sans-serif;
              font-weight: 200;
              margin-top: 0.625rem;
              margin-left: 0.625rem;

              .title-label {
                text-decoration: none;
                color: white;
              }
            }

            .desc-title-none {
              display: none;
            }

            .desc-subtitle-show {
              color: white;
              text-align: left;
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 200;
              margin-top: 1.25rem;
              margin-left: 0.625rem;
            }

            .desc-subtitle-none {
              display: none;
            }
          }
        }

        .portfolio-accordion-filler-closed {
          display: none;
        }
      }

      .border-portfolio-closed {
        border: 0.0625rem solid white;
        background-color: #ff9933;
        width: 62.5rem;
        height: 2.1875rem;

        .label-container {
          display: flex;

          .label {
            color: white;
            margin-top: 0.375rem;
            margin-left: 0.4375rem;
            font-size: 1rem;
          }

          .minimize-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 50.73rem;
          }
          .close-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 0.3125rem;
          }
        }

        .portfolio-accordion-filler-open {
          margin-top: 0.625rem;
          width: 62.5rem;
          height: 45.3125rem;
          background-color: black;
          color: white;
          display: flex;
          flex-direction: column;
        }

        .portfolio-accordion-filler-closed {
          display: none;
        }
      }

      .portfolio-none {
        display: none;
      }
    }
  }

  .accordion-third-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2.1875rem;

    .skills-open {
      margin-left: 1.375rem;

      .border-skills-open {
        border: 0.0625rem solid white;
        background-color: #ff9933;
        width: 15.625rem;
        height: 12.8125rem;
        margin-right: 1.875rem;

        .label-container {
          display: flex;
          flex-direction: row;

          .label {
            color: white;
            margin-top: 0.375rem;
            margin-left: 0.4375rem;
            font-size: 1rem;
          }

          .minimize-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 6.25rem;
          }

          .close-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 0.3125rem;
          }
        }

        .accordion-filler-show {
          margin-top: 0.3125rem;
          background-color: black;

          .icon-container-top {
            display: flex;
            flex-direction: row;
            padding: 0.625rem;
            justify-content: center;

            .icon-img {
              margin-top: 0.1875rem;
              width: 4.375rem;
              height: 4.375rem;
            }
          }

          .icon-container-bottom {
            display: flex;
            flex-direction: row;
            padding: 0.625rem;
            justify-content: center;
            margin-top: -1.25rem;

            .icon-img {
              margin-top: 0.125rem;
              width: 3.6875rem;
              height: 3.6875rem;
              margin-right: 0.625rem;
              margin-left: 0.625rem;
            }
          }
        }

        .accordion-filler-none {
          display: none;
        }
      }

      .border-skills-closed {
        border: "0.0625rem solid white";
        background-color: #ff9933;
        width: 15.625rem;
        height: 2.1875rem;
        margin-right: 1.875rem;

        .label-container {
          display: flex;
          flex-direction: row;

          .label {
            color: white;
            margin-top: 0.375rem;
            margin-left: 0.4375rem;
            font-size: 1rem;
          }

          .minimize-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 6.25rem;
          }

          .close-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.3125rem;
            margin-left: 0.3125rem;
          }
        }

        .accordion-filler-show {
          margin-top: 0.3125rem;
          background-color: black;
          .icon-container-top {
            display: flex;
            flex-direction: row;
            padding: 0.625rem;
            justify-content: center;

            .icon-img {
              margin-top: 0.1875rem;
              width: 4.375rem;
              height: 4.375rem;
            }
          }

          .icon-container-bottom {
            display: flex;
            flex-direction: row;
            padding: 0.625rem;
            justify-content: center;
            margin-top: -1.25rem;

            .icon-img {
              margin-top: 0.125rem;
              width: 3.6875rem;
              height: 3.6875rem;
              margin-right: 0.625rem;
              margin-left: 0.625rem;
            }
          }
        }

        .accordion-filler-none {
          display: none;
        }
      }
    }

    .skills-closed {
      display: none;
    }

    .border-contact-open {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 62.5rem;
      height: 12.8125rem;

      .label-container {
        display: flex;
        flex-direction: row;

        .label {
          color: white;
          margin-top: 0.375rem;
          margin-left: 0.4375rem;
          font-size: 1rem;
        }

        .minimize-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 51.875rem;
        }

        .close-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 0.3125rem;
        }
      }

      .img-container-show {
        display: flex;
        flex-direction: row;
        padding: 0.625rem;
        justify-content: center;
        margin-top: -1.25rem; //to fix in future
    
        .img-banner{
            margin-top: 1rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            object-fit: cover;
            object-position: 10% 60%;
            width: 62.5rem;
            height: 9.8125rem;
            position: absolute;
        }

        .icon-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            align-content: space-evenly;
            margin-top: 0.4375rem;

            .icon-gmail{
                margin-top: 1.25rem;
                width: 8.125rem;
                height: 8.125rem;
                margin-left: 11.875rem;
                margin-right: 9.375rem;
            }

            .icon-github{
                margin-top: 1.25rem;
                width: 7.8125rem;
                height: 7.8125rem;
                margin-right: 9.375rem; 
            }

            .icon-linkedin{
                margin-top: 1.25rem;
                width: 8.125rem;
                height: 8.125rem;
                margin-right: 9.375rem; 
            }
        }
    
    }

      .img-container-none {
        display: none;
      }
    }

    .border-contact-closed {
      border: 0.0625rem solid white;
      background-color: #ff9933;
      width: 62.5rem;
      height: 2.1875rem;

      .label-container {
        display: flex;
        flex-direction: row;

        .label {
          color: white;
          margin-top: 0.375rem;
          margin-left: 0.4375rem;
          font-size: 1rem;
        }

        .minimize-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 51.875rem;
        }

        .close-icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.3125rem;
          margin-left: 0.3125rem;
        }
      }

      .img-container-show {
        display: flex;
        flex-direction: row;
        padding: 0.625rem;
        justify-content: center;
        margin-top: -1.25rem; //to fix in future
    
        .img-banner{
            margin-top: 1rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            object-fit: cover;
            object-position: 10% 60%;
            width: 62.5rem;
            height: 9.8125rem;
            position: absolute;
        }

        .icon-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            align-content: space-evenly;
            margin-top: 0.4375rem;

            .icon-gmail{
                margin-top: 1.25rem;
                width: 8.125rem;
                height: 8.125rem;
                margin-left: 11.875rem;
                margin-right: 9.375rem;
            }

            .icon-github{
                margin-top: 1.25rem;
                width: 7.8125rem;
                height: 7.8125rem;
                margin-right: 9.375rem; 
            }

            .icon-linkedin{
                margin-top: 1.25rem;
                width: 8.125rem;
                height: 8.125rem;
                margin-right: 9.375rem; 
            }
        }
    
    }

      .img-container-none {
        display: none;
      }
    }
  }
}
